body{
    margin: 0;
    font-size: 10px;
    overflow-x: hidden;   
}

:root{
    --color1:#060009;
    --color2:#eaeaea;
    --color3:#eab676;
    --color4:#0c0c0c;
}

.navigatie{
    background-color:var(--color4);
    position: fixed;
    width: 100%;
    transition:transform 1s;
    z-index: 2;
}
.navumbra{
    height: 30em;
}

.linie{
    background-color: var(--color3);
    height: 4em;
    text-align: center;
}

.linie i{
    margin: auto;
    font-size: 2.6em;
    color: var(--color2);
    padding: 0.2em;
    margin: auto;
    padding-left: 0.8em;
    
}



.meniumare{
    display: flex;
    max-width: 100em;
    margin:auto;
   
    
}

.meniu{
    display: flex;
    font-size: 1.5em;
    justify-content:space-between;
    max-width:40em;
    align-items: center;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-left:-4em;
    margin-top: 4em;
    
}

.logo{
    max-width:20em;
    padding: 2em;
}

.meniu li{
    border-right: 1px solid #fff5;
    padding-right: 0.3em;
    padding-left: 0.5em;
    opacity: 0.9;
}

.meniu li:last-child{
    border-right:none;
    padding-right: 0.3em;
}

.meniu li:last-child:hover .servici{
visibility: visible;
   
}



.meniu li a{
    text-decoration: none;
    color: var(--color2);
}

.meniu .active{
    opacity: 1;
}

.meniu li:hover{
    opacity: 1;
}
#linie2{
    display: none;
}
.menutel{
    display: none;
}
.meniutel{
    display: none;
}



.servici{
    position: absolute;
    align-items: center;
    margin: 0;
    visibility: hidden;
    padding: 10px;
    padding-left: 30px;
    margin-left: -30px;
    text-align: start;
    background-color:var(--color4);
}


.servici li{
    margin-top:0.5em;
    padding: 0;
    border: none;
}

#ceas p{
    top: -0.9em;
    position: absolute;
    background-color: rgb(240, 237, 231);
    color: black;
    font-size: 0.9em;
    margin-left: 2em;
    visibility: hidden;
    padding: 0.3em;
}

#ceas:hover p {
    visibility: visible;
}





.servici2{
   visibility: hidden;
}


.red{
    visibility: visible;
}


@media only screen and (max-width:600px) {
    .meniu{
       display: none;
    }
    #linie2{
        display:block;
        background-color:#000;
        margin-top: -3em;
        padding-bottom: 1em;
    }
    #linie1{
        display: none;
       
    }
    .menutel{
        clip-path: circle();
        background-color: var(--color2);
        border: none;
        padding: 0.4em;
        font-size: 2.5em;
        position: absolute;
        left: 1em;
        top: 2em;
        color: var(--color2);
        width:2.1em;
        height:2.1em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

   .circle{
       background-color:var(--color1);
       width:1.9em;
       height:1.9em ;
       clip-path: circle();
       position: absolute;
       display: flex;
       align-items: center;
        justify-content: center;
   }

    .menutel:hover .circle{
        background-color: var(--color3);
    }
    .menutel:hover{
        background-color: var(--color3);
    }
.meniumare{
   justify-content: center;
}
.meniutel{
    position: fixed;
    height: 100vh;
    width: 45em;
    background-color: var(--color1);
    z-index: 2;
}


.meniutel ul{
    font-size: 1.6em;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin: 0;
    margin-top: 1em;
    padding: 0;
}

.meniutel ul li a{
    text-decoration: none;
    color: var(--color2);
   
}

.meniutel ul li {
    border-bottom: 1px solid #fff5;
    opacity: 0.9;
    padding-top: 1.5em;
    padding-bottom:1.5em;
    padding-left: 2em;
}

.meniutel ul li:hover{
    opacity: 1;
}






  }

  
@media only screen and (max-width:400px) {
   
    .logo{
        max-width: 18em;
    }

    .meniu{
        margin-left:-5em;
    }

    
  }