:root{
    --color1:#060009;
    --color2:#eaeaea;
    --color3:#eab676;
    --color4:#0c0c0c;
}


.content{

    max-width:80%;
    margin: auto;
}

.content h1{
  color:var(--color3);
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.05em;  
  font-size: 2.5em;
}

.imgbox img{
    width: 80%;
    margin-top: 4em;
}

.content p{
 font-size: 1.8em;
 max-width: 80%;
 font-family: Arial, Helvetica, sans-serif;
 opacity: 0.8;
}

.buton{
     padding:1.2em;
     font-size: 1.7em;
     font-family: Arial, Helvetica, sans-serif;
     background-color: var(--color3);
     width: 13em;
     border-radius: 5px;
     font-weight: 600;
     margin: 1em;
     margin-top: 2em;
     transition: opacity 0.4s;
}

a {
    text-decoration: none;
    color:var(--color1);
}

.buton:hover{
    opacity: 0.8;
}


@media only screen and (max-width: 600px) {

    
    body{
        font-size: 7px;
    }

    .imgbox img{
        width: 90%;
    }

    
.content{

    max-width:90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.content h1{ 
    font-size: 2em;
  }

  .content p{
      margin: 0;
      margin-top: 1.5em;
      font-size: 2.1em;
  }


}